<% include head %>

<h1><%= title %></h1>

<div class="card my-4">
    <div class="card-body">
        <p class="text-secondary">Заполните форму ниже для добавления нового поста.</p>

        <form action="/post" method="post">
            <div class="mb-3">
                <input class="form-control" type="text" name="entry[title]" placeholder="Title" />
            </div>
            <div class="mb-3">
                <textarea class="form-control" rows="6" name="entry[body]" placeholder="Body"></textarea>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Опубликовать пост" />
            </div>
        </form>
    </div>
</div>

<% include footer %>
