<% include ../head %>

<h1><%= title %></h1>
<% entries.forEach((entry) => { %>
    <div class="card my-4">
        <div class="card-body">
            <h5 class="card-title"><%= entry.title %></h5>
            <h6 class="card-subtitle mb-4 text-secondary">Автор: <%= entry.name %></h6>
            <p class="card-text"><%= entry.body %></p>
        </div>
    </div>
<% }) %>

<% include ../footer %>